{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %} {% trans "Twilio Settings" %} {% endblock %}

{% block inside %}
    <h1>{% trans "Twilio Settings" %}</h1>
    {% if not order_phone_asked %}
        <div class="alert alert-danger">
            {% blocktrans trimmed %}
            <p>
            You are currently not asking for phone numbers in your ordering process.
            When you are not asking for phone numbers, this plugin cannot send out any text messages.
            </p>
            <p>
            Please go to the general pretix settings, to the “Customer and attendee data” tab, and enable customer phone numbers.
            </p>
            {% endblocktrans %}
        </div>
    {% elif not order_phone_required %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
            <p>
            Phone numbers are currently not required in your order process.
            All customers who do not supply a phone number will not be able to receive text messages.
            </p>
            <p>
            If you want to make sure that everybody can receive text messages, please go to the general pretix settings, to the “Customer and attendee data” tab, and make phone numbers mandatory.
            </p>
            {% endblocktrans %}
        </div>
    {% endif %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="tabbed-form">
            <fieldset>
                <legend>{% trans "General" %}</legend>
                {% bootstrap_field form.twilio_account_sid layout="control" %}
                {% bootstrap_field form.twilio_auth_token layout="control" %}
                {% bootstrap_field form.twilio_sender_number layout="control" %}
                {% bootstrap_field form.twilio_text_signature layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "E-mail content" %}</legend>
                <div class="panel-group" id="questions_group">
                    {% blocktrans asvar title_placed_order %}Placed order{% endblocktrans %}
                    {% include "pretix_twilio/settings_template_fragment.html" with title=title_placed_order field=form.twilio_text_order_placed %}

                    {% blocktrans asvar title_free_order %}Placed order (free){% endblocktrans %}
                    {% include "pretix_twilio/settings_template_fragment.html" with title=title_free_order field=form.twilio_text_order_free %}

                    {% blocktrans asvar title_paid_order %}Order paid{% endblocktrans %}
                    {% include "pretix_twilio/settings_template_fragment.html" with title=title_paid_order field=form.twilio_text_order_paid %}

                    {% blocktrans asvar title_changed_order %}Order changed{% endblocktrans %}
                    {% include "pretix_twilio/settings_template_fragment.html" with title=title_changed_order field=form.twilio_text_order_changed %}

                    {% blocktrans asvar title_canceled_order %}Order canceled{% endblocktrans %}
                    {% include "pretix_twilio/settings_template_fragment.html" with title=title_canceled_order field=form.twilio_text_order_canceled %}
                </div>
            </fieldset>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
